<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Minecraft Server Handler: Login</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: "Arial", serif;
            background: #1F1E20;
            color: #8FA179;
            text-align: center;
        }
        h1 {
            padding: 50px;
        }
        .login{
            width: 25%;
            overflow: hidden;
            margin: auto;
            text-align: center;
            padding: 100px;
            background: #282F28;
            border-radius: 15px ;
        }
        input {
            border: limegreen;
            color: #D4DFC7;
            background-color: #434B43;
        }
        a {
            color: lightblue;
        }
        #field {
            width: 200px;
            height: 20px;
            border: none;
            border-radius: 2px;
        }
        #submit {
            width: 300px;
            height: 30px;
            border: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<h2>{{login_error}}</h2>
<h1>Login:</h1>
<div class="login">
    <form method="post" enctype="text/plain">
        <label>
            <b>Username:</b>
            <input type="text" name="username" id="field" required>
        </label>
        <br><br>
        <label>
            <b>Password:</b>
            <input type="password" name="password" id="field" required>
        </label>
        <br><br>
        <label>
            <input type="submit" value="Submit" id="submit">
        </label>
    </form>
</div>
</body>